<a href="https://colab.research.google.com/github/Panee12/Panee12/blob/main/paneendra_vs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Name:Paneendra V.S**

**Day 1**

DATA TYPES

In [ ]:
#integer
#pre-defined functions
type(1)

int

In [ ]:
#do this
# value 6.4 and display optput
type(6.4)

float

In [ ]:
type('string')

str

In [ ]:
type("string")

str

In [ ]:
#to-do
type('2')

str

In [ ]:
type(1j+3)

complex

In [ ]:
#list
type([1,2,3,4,5,10])

list

In [ ]:
#tuple
type((1,23,4,5.5))

tuple

In [ ]:
#dictnory
type({'name':'panee', 'regno':'1by20mc034'})

dict

In [ ]:
#print
print('Panee')

Panee

In [ ]:
#variables and indentifiers
strl='panee'

In [ ]:
strl

'panee'

Data operatores

In [ ]:
#Data operators
#mul
10*20

200

In [ ]:
a=13
b=30
#mul 
a*b 
#sub
a-b 
#add
a+b
#div
a/b
#floor div
a//b
#exp
a**b

2619995643649944960380551432833049

In [ ]:
#relational
18==23
18==18

True

In [ ]:
2>3

False

In [ ]:
# Assignement
x=20

In [ ]:
x+=2
print(x)

22

In [ ]:
x*=10
print(x)

220

In [ ]:
# Logical
# and opp
23>30 and 49==49

False

In [ ]:
30==30 and 50==50 and 2==2

True

In [ ]:
# or opp & and 
23>40 or 49 !=49 and 2==2

False

In [ ]:
'virat'=='virat'

True

In [ ]:
# not opp
not('virat'=='virat')

False

**Day2**

What are sequences in python

sequences are the containers with items that are accessible by the indexing or string.

1. Concatenation 
2. Repitation.
3. Membership Testing
4. Slicing
5. Indexing

In [ ]:
#Manipul;ation of list
#to do


# all the letters are integer

# Append 
numb=[30,40,23,45,56,70] 
numb.append(20.8)
print(numb)

[30, 40, 23, 45, 56, 70, 20.8]

In [ ]:
#Insert
var = [10,20,40,50,60,44,22,66]
print(var)

[10, 20, 40, 50, 60, 44, 22, 66]

In [ ]:
var.insert(3,20)
print(var)

[10, 20, 40, 20, 50, 60, 44, 22, 66]

In [ ]:
panee = [30,30,20,40,70,80]
vishnu = [22,33,44,55,66,77]
panee.extend(vishnu)
vishnu.extend(panee)
print("Extended list add vishnu",panee )
print("Extended list add vishnu",vishnu )

Extended list add vishnu [30, 30, 20, 40, 70, 80, 22, 33, 44, 55, 66, 77]
Extended list add vishnu [22, 33, 44, 55, 66, 77, 30, 30, 20, 40, 70, 80, 22, 33, 44, 55, 66, 77]

In [ ]:
#sum
print(sum(panee))

567

In [ ]:
#count\
cnt1=[10,2,3,4,5,6,7,8,9,3,3,45,5,6,4,5,6,7,8,9,0]
print(cnt1.count(6))

3

In [ ]:
#indexing
Lakshmi= [1,2,3,4,56,7,12,3,45,67,8]
Lakshmi.index(4)

3

In [ ]:
Lakshmi[2:4]

[3, 4]

In [ ]:
#min
min(Lakshmi)

1

In [ ]:
#max
max(Lakshmi)

67

In [ ]:
dhakshi = [1,2,3,4,5,6,67,88,99,0,2.5]
dhakshi.pop(4)
print(dhakshi)

[1, 2, 3, 4, 6, 67, 88, 99, 0, 2.5]

In [ ]:
del dhakshi[2]
print(dhakshi)

[1, 2, 6, 67, 88, 99, 0, 2.5]

In [ ]:
#todo
#Wrtie a swaping function where  a== c ,c == b, b=a # a=33,b=44,c=55
x = 77
y = 9
temp = x
x=y
y=temp
print(x)
print(y)

9
77

**Strings**

# **Day3**

In [ ]:
name = 'lakshmi'
course = 'cyber security certification'

In [ ]:
name.capitalize()

'Lakshmi'

In [ ]:
name.count("l")

1

In [ ]:
name.find("s")

3

In [ ]:
name.islower()

True

In [ ]:
name.upper()

'LAKSHMI'

In [ ]:
name.strip()

'lakshmi'

In [ ]:
dhakshi = "python is flexible language"
dhakshi.split()

['python', 'is', 'flexible', 'language']

In [ ]:
lak = "java"
dhak = "language"

lak+dhak

'javalanguage'

In [ ]:
lak*7

'javajavajavajavajavajavajava'

In [ ]:
str1 = "hello to BMS"
len(str1)

12

In [ ]:
str1[4]

'o'

In [ ]:
str1.replace("to","panee")

'hello panee BMS'

TUPLE

In [ ]:
panee = ('virat','rohit','vihari','ashwin')

In [ ]:
print(panee[1])

rohit

In [ ]:
panee = (1,2,3,4)
panee1 = (3,4,5,6)
panee2= panee+panee1
print(panee2)

(1, 2, 3, 4, 3, 4, 5, 6)

In [ ]:
virat1 = ('Hello','world')

In [ ]:
#Tuple unpacking
virat3 = ('helo','good','people')
a,b,c = virat3
print(a)
print(b)
print(c)

helo
good
people

In [ ]:
dic = { 'name': 'apple','Age': 18}
print(dic)

{'name': 'apple', 'Age': 18}

In [ ]:
#deleteing the key
del dic ['name']
print(dic)

{'Age': 18}

In [ ]:
a = dict(brand='ford',Model='1st',year=2020)
print(a)

{'brand': 'ford', 'Model': '1st', 'year': 2020}

In [ ]:
cpy = dict(a)
print(cpy)

{'brand': 'ford', 'Model': '1st', 'year': 2020}

In [ ]:
di = { 'Dict1': {1:'get'},'Dict':{'Name': 'for'}}

In [ ]:
di['Dict1'][1]

'get'

In [ ]:
di.clear()

In [ ]:
print(di)

{}

In [ ]:
# if condition to execute(only when stm is tru)
#raining
'''If it is raining to hight:
not go

else:
  go
if condition:
  statement 1
  state2
state3

else:
  stat4'''

In [ ]:
i = 70
if(i<25):
  print("i is less then 25")
print("iam not in if block")

iam not in if block

In [ ]:
string = 'virat'

if string == 'virat':
   print('hello')
   string = string*5
   print(string)

#to -do

#there is the indentation Error in the 4th line so it didn;t display
#we have a variable called String that is having value 
#if block contains value virat that is true it will print  string *5 times

hello
viratviratviratviratvirat

In [ ]:
z = 20
if (z<125):
  print("i is smaller than 125")
  print("i am in if block")
else:
  print("i is grater or equal to 15")
  print("i am in else block")

i is smaller than 125
i am in if block

In [ ]:
#nested if-else
# here i is the variable to

i = 4
if(i == 40):
  if(i<=15):
    print("i is smaller than 15")
  if(i<12):
    print("i is smaller than 12 ttoo")
else:
  print("i is naot 40")

i is naot 40

# Assignment 05-3-**2022**

In [ ]:
# Assignment1
#to -do

#there is the indentation Error in the 4th line so it didn;t display
#program containing a variable called String that is having value 
#if block contains value virat1 that is true it will print  string *5 times 
string = 'virat1'

if string == 'virat1':
   print('hello')
   string = string*5
   print(string)

hello
virat1virat1virat1virat1virat1

In [ ]:
#Assignment 2
# tuple is immutable so we have to uise the typle fuction for that
# ADD ('hello','world') using the tuple() Function 
# here i have took the panee and virat5 as two variables and we have done the tuple() fuction as consructor we have passed a value for that 
# and print that two variables
panee = tuple('hello')
virat5 = tuple(('hello','world')) 
print(panee)
print(virat5)

('h', 'e', 'l', 'l', 'o')
('hello', 'world')

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5,5,6,7,8)

x = thistuple.count(5)

print(x)

3

In [ ]:
y=thistuple.index(8)
print(y)

3

# **Day4- 7th-mar-2022**

In [ ]:
#if-else

In [ ]:
pa=100
if(pa==20):
  print( "pa is equal to 20")
  print('we arein if block')
elif( pa==21):
  print('pa is 21')
  print('we are in elif block ')
elif(pa==18):
  print('pa is 18')
  print('we are in elif block ')
else:
  print('pa is equal to noting')

pa is equal to noting

In [ ]:
#Short hand if-statement

In [ ]:
k=10
if k==10:print('k is less than 10')

k is less than 10

In [ ]:
#to -do i have to explore if-else short hand code

## **for loop**

In [ ]:
laki = [1,2,3,4,5,6,7,8,9]
for var in laki:
  print(var)

1
2
3
4
5
6
7
8
9

In [ ]:
l= ['panee','laki','dhaki']
for i in l:
  for pa in l:
   print(pa)

panee
laki
dhaki
panee
laki
dhaki
panee
laki
dhaki

In [ ]:
string = str(input())
print(string)

panee
panee

In [ ]:
s = list(input())
print(s)

12345
['1', '2', '3', '4', '5']

In [ ]:
s = str(input())
for i in s:
  print(i)

preya
p
r
e
y
a

In [ ]:
g= dict()
g['a'] = 1234
g['b'] = 12345

for i in g:
  print(i,g[i])

a 1234
b 12345

In [ ]:
for letter in 'preya':
  if letter == 'e' or letter == 'r':
    break
  print(letter)

p

In [ ]:
for letter in 'preya':
  if letter == 'e' or letter == 'r':
    pass
print(letter)

a

In [ ]:
for letter in 'preya':
  if letter == 'e' and letter == 'r':
    pass
  print(letter)

p
r
e
y
a

In [ ]:
for letter in 'preya':
  if letter == 'e' or letter == 'r':
    continue
  print(letter)

p
y
a

**Range for loop**

In [ ]:
list(range(1,10,2))# list(range(staring point,ending point, iteration point))

[1, 3, 5, 7, 9]

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
li=[1,2,3,4,5,6,7]
for i in range (len(li)):
  print(li[i],end=" ")

1 2 3 4 5 6 7

In [ ]:
#to -do 
num = int(input("Enter a number: "))  
  
if num < 0:  
   print("Enter a positive number")  
else:  
   sum = 0  

   while(num > 0):  
       sum += num  
       num -= 1  
   print("The sum is",sum)

Enter a number: 10
The sum is 55

In [ ]:
a = [1,2,3,4,5]
while a:
  print(a.pop())

5
4
3
2
1

In [ ]:
i = 0
a='hellolaki'

while i<len(a):
  if a[i] == 'e':
    i+=1
    continue
  print('current letter',a[i])
  i+=1

current letter h
current letter l
current letter l
current letter o
current letter l
current letter a
current letter k
current letter i

In [ ]:
i = 0
a='hellolaki'

while i<len(a):
  if a[i] == 'e':
    i+=1
    break
  print('current letter',a[i])
  i+=1

current letter h

In [ ]:
i = 0
a='hellolaki'

while i<len(a):
  if a[i] == 'e':
    i+=1
    pass
  print('current letter',a[i])
  i+=1

current letter h
current letter l
current letter l
current letter o
current letter l
current letter a
current letter k
current letter i

** **

## **DAY5           8TH-MAR-2022**

In [ ]:

#gip cooding
ques = ['name','color','shape']
ans = ['banana','yellow','stright']
for ques, ans in zip(ques,ans):
  print('what is your{0}? \n  Iam {1}.'.format(ques,ans))

what is yourname?
  Iam banana.
what is yourcolor?
  Iam yellow.
what is yourshape?
  Iam stright.

In [ ]:
def eo(x):
  if (x%2==0):
    print('even')
  else:
    print('odd')

In [ ]:
eo(2)

even

In [ ]:
def square_value(num):
  return num**2
print(square_value(4))

16

In [ ]:
list1 = [1,2,3,344,54,5,5,'ab',2,3,4,5,'city',6,7,8,89]
# find the sum of the list and remove string data type

In [ ]:
x = lambda a: a+5
print(x(22))

27

In [ ]:
def db(n):
  return lambda x:x*n
num_double = db(3)
print(num_double(20))

60

In [ ]:
print('08','03','2022',sep = '/')

08/03/2022

In [ ]:
#map function

# TODO split and strip together in list function

n=int(input())
a = list(map(int, input().split(' ')))
print(a)

1
1 2 3 4
[1, 2, 3, 4]

In [ ]:
def add(a):
  return a+a
n = [10,20]
s = list(map(add, n))
print(s)

[20, 40]

In [ ]:
#functions 
def sum(x):
  s=0
  for i in x:
    s += i
  return s
a=[1,2,3,4,5]
print(sum(a))

15

In [ ]:
#strip function
l = ['    a ', '   b']
print(l)
l = [i.strip(' ') for i in l]
print(l)

['    a ', '   b']
['a', 'b']

In [ ]:
#remove string and find sum of integers
list1 = [1,2,3,4,5,'a',2.3,6.2,'b',9,8]
sum=0
for i in list1:
  if type(i) == int:
    sum += i
print(sum)

32

# **DAY-6  DATE: 10TH-MAR-2022**

# **pandas**

In [ ]:
!pip3 install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
#Importing the Library
import pandas as pd 
data = [1,2,3,4,5,6,7,34,'hello']
d = pd.Series(data)
print(d)

0        1
1        2
2        3
3        4
4        5
5        6
6        7
7       34
8    hello
dtype: object

In [ ]:
data = [1,2,3,4,5,6,7,8]

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [ ]:
d = pd.date_range('20220310',periods = 10)
print(d)

DatetimeIndex(['2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
import pandas as pd

str1 = pd.Series([1,2,3,4,5,6,76,7])
str2 = pd.Series([1.2,3.5,6.7,3.4,6.5,7.3])
str3 = pd.Series(['a','b','c','f','r','t','y','g'])
data = {'first':str1, 'Sec':str2, ' third':str3}
dfseries = pd.DataFrame(data)
print(dfseries)

   first  Sec  third
0      1  1.2      a
1      2  3.5      b
2      3  6.7      c
3      4  3.4      f
4      5  6.5      r
5      6  7.3      t
6     76  NaN      y
7      7  NaN      g

NameError: ignored

In [ ]:
import pandas as pd 
import numpy as np
df = pd.DataFrame({'A':[12,2,3,4],
                  'B': pd.Timestamp('20220310'),
                  'c': pd.Series(1,index = list(range(4))),
                  'D': np.array([5]*4, dtype = 'int32'),
                  'E': pd.Categorical(['test','train','test'])})

ValueError: ignored

In [ ]:
import numpy as np
df = pd.DataFrame({'a':[1,2,3,45],
                  'b':pd.Timestamp('2022-03-10'), 
                  'c':pd.Series(1,index = list(range(4))),
                  'd': np.array([5]*4, dtype = 'int32'),
                  'e': pd.Categorical(['test','train','test','train'])})
print(df)

    a          b  c  d      e
0   1 2022-03-10  1  5   test
1   2 2022-03-10  1  5  train
2   3 2022-03-10  1  5   test
3  45 2022-03-10  1  5  train

In [ ]:

df.to_numpy()

NameError: ignored

In [ ]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
df.describe()

               a    c    d
count   4.000000  4.0  4.0
mean   12.750000  1.0  5.0
std    21.515498  0.0  0.0
min     1.000000  1.0  5.0
25%     1.750000  1.0  5.0
50%     2.500000  1.0  5.0
75%    13.500000  1.0  5.0
max    45.000000  1.0  5.0

In [ ]:
df.sort_index(axis = 1, ascending = False )

       e  d  c          b   a
0   test  5  1 2022-03-10   1
1  train  5  1 2022-03-10   2
2   test  5  1 2022-03-10   3
3  train  5  1 2022-03-10  45

In [ ]:
df.sort_values(by = 'a')

    a          b  c  d      e
0   1 2022-03-10  1  5   test
1   2 2022-03-10  1  5  train
2   3 2022-03-10  1  5   test
3  45 2022-03-10  1  5  train

In [ ]:
# from lableing

df['c']

0    1
1    1
2    1
3    1
Name: c, dtype: int64

In [ ]:
df[0:3]

   a          b  c  d      e
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5   test

In [ ]:
df.loc[:,:]

    a          b  c  d      e
0   1 2022-03-10  1  5   test
1   2 2022-03-10  1  5  train
2   3 2022-03-10  1  5   test
3  45 2022-03-10  1  5  train

In [ ]:
# from position
df.iloc[3]

a                     45
b    2022-03-10 00:00:00
c                      1
d                      5
e                  train
Name: 3, dtype: object

In [ ]:
df.iloc[0:2,2:5]

NameError: ignored

In [ ]:
df[df['a']>2]

    a          b  c  d      e
2   3 2022-03-10  1  5   test
3  45 2022-03-10  1  5  train

In [ ]:
'''isnull()
dropna()
fillna()
isna(na)'''

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

a    12.75
c     1.00
d     5.00
dtype: float64

In [ ]:
df = pd.Series([1,2,3,4,5,np.nan,6,7]).shift(2)

In [ ]:
df

0    NaN
1    NaN
2    1.0
3    2.0
4    3.0
5    4.0
6    5.0
7    NaN
dtype: float64

In [ ]:
df.apply(np.cumsum)

0    [nan]
1    [nan]
2    [1.0]
3    [2.0]
4    [3.0]
5    [4.0]
6    [5.0]
7    [nan]
dtype: object

In [ ]:
df.value_counts()

1.0    1
2.0    1
3.0    1
4.0    1
5.0    1
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series(['edu','jup','py',np.nan])
print(s)
s.str.upper()

0    edu
1    jup
2     py
3    NaN
dtype: object

0    EDU
1    JUP
2     PY
3    NaN
dtype: object

In [ ]:
s.str.upper()

0    EDU
1    JUP
2     PY
3    NaN
dtype: object

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)